*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

body{
  background-color: gray;
}

@media (min-width: 768px){
  body{
  background-color:blue ;
  }
}

@media (min-width: 992px){
  body{
    background-color: brown;
  }
}

@media (min-width: 1200px){
  body{
    background-color: yellowgreen;
  }
}
